services:
  mongodb:
    image: mongo:6.0
    container_name: mongo_db
    restart: always
    ports:
      - "27018:27017"
    environment:
      MONGO_INITDB_DATABASE: docusign
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
